[build]
  command = "ls -la netlify && ls -la netlify/functions && mkdir -p static/public && cp -R public/* static/public/"
  publish = "static"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200
